.tec-container {
    width: 100vw;
    height: 100vh;
    background: url('../../assets/technology/background-technology-desktop.jpg') no-repeat;
    background-size: cover;
}

.space-launch-content{
    display: flex;
    justify-content: space-between;
}

.launch-img {
    width: 515px;
    height: 527px;
    background: url('../../assets/technology/image-launch-vehicle-portrait.jpg') no-repeat;
    background-size: cover;
}

.launch-img-1{
    width: 515px;
    height: 527px;
    background: url('../../assets/technology/image-spaceport-portrait.jpg') no-repeat;
    background-size: cover;
}

.launch-img-2{
    width: 515px;
    height: 527px;
    background: url('../../assets/technology/image-space-capsule-portrait.jpg') no-repeat;
    background-size: cover;
}

.disapear{
    display: none;
}

.launch-img-container{
    width: 515px;
    height: 527px;
}

.btns-launch{
    display: flex;
    gap: 32px;
    flex-direction: column;
    padding-left: 65px;
}

.btn-launch{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.404);
    background-color: transparent;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.btn-launch-selected{
    background-color: white;
    color: #0B0D17;
}

.btns-launch button:hover{
    border: 1px solid white;
}

.space-launch-content-text{
    width: 470px;
    height: 303px;
}

.space-launch-content-text h2{
    font-size: 56px;
    color: white;
    font-weight: 100;
    font-family: "Bellefair", serif;
    padding-bottom: 17px;
    padding-top: 11px;
}

.tittle-launch{
    font-size: 16px;
    color: #D0D6F9;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.7px;
    font-weight: 100;
}

.info-launch{
    font-size: 18px;
    font-family: "Barlow Condensed", sans-serif;
    color: #D0D6F9;
    font-weight: 100;
    line-height: 32px;
    width: 444px;
}

.space-launch-content-child{
    display: flex;
    gap: 114.4px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px)and (max-width: 1440px){

    .tec-container {
        background: url('../../assets/technology/background-technology-tablet.jpg') no-repeat;
        background-size: contain;
    }
    
    .space-launch-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    
    .launch-img {
        width: 100%;
        height: 310px;
        background: url('../../assets/technology/image-launch-vehicle-landscape.jpg') no-repeat;
    }

    .launch-img-container{
        width: 100%;
        height: 366px;
    }

    
    .launch-img-1{
        width: 100%;
        height: 310px;
        background: url('../../assets/technology/image-spaceport-landscape.jpg') no-repeat;
    }
    
    .launch-img-2{
        width: 100%;
        height: 310px;
        background: url('../../assets/technology/image-space-capsule-landscape.jpg') no-repeat;
    }
    
    .btns-launch{
        display: flex;
        gap: 16px;
        flex-direction: row;
        padding-left: 0px;
    }
    
    .btn-launch{
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
  
    .space-launch-content-text{
        text-align: center;
        width: 458px;
        height: 237px;
    }
    
    .space-launch-content-text h2{
        font-size: 40px;
        font-weight: 100;
        font-family: "Bellefair", serif;
        padding-bottom: 16px;
        padding-top: 16px;
    }
    
    .tittle-launch{
        font-size: 16px;
    }
    
    .info-launch{
        font-size: 16px;
        font-family: "Barlow", sans-serif;
        line-height: 28px;
        width: 458px;
    }
    
    .space-launch-content-child{
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

}

@media (min-width: 375px) and (max-width: 768px){

    .tec-container {
        height: 710px;
        background: url('../../assets/technology/background-technology-mobile.jpg') no-repeat;
        background-size: cover;
        text-align: center;
    }
    
    .space-launch-content{
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .launch-img {
        width: 375px;
        height: 170px;
        background: url('../../assets/technology/image-launch-vehicle-landscape.jpg') no-repeat;
        background-size: cover;
    }
    
    .launch-img-1{
        width: 375px;
        height: 170px;
        background: url('../../assets/technology/image-spaceport-landscape.jpg') no-repeat;
        background-size: cover;
    }
    
    .launch-img-2{
        width: 375px;
        height: 170px;
        background: url('../../assets/technology/image-space-capsule-landscape.jpg') no-repeat;
        background-size: cover;
    }
    
    .launch-img-container{
        width: 375px;
        height: 170px;
    }
    
    .btns-launch{
        display: flex;
        gap: 16px;
        flex-direction: row;
        padding-left: 0px;
        padding-top: 34px;
    }
    
    .btn-launch{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .space-launch-content-text{
        width: 327px;
        height: 220px;
    }
    
    .space-launch-content-text h2{
        font-size: 24px;
        padding-bottom: 16px;
        padding-top: 9px;
    }
    
    .tittle-launch{
        font-size: 14px;
        letter-spacing: 2.36px;
    }
    
    .info-launch{
        font-size: 15px;
        line-height: 25px;
        width: 327px;
    }
    
    .space-launch-content-child{
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

}