.container{
    width: 100vw;
    height: 100vh;
    background: url('../../assets/home/background-home-desktop.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: azure;
    gap: 200px;
}

.navbar-container hr{
    width: 473px;
    height: 1px;
    border: 1px solid #979797;
    position: absolute;
    z-index: 99;
    left: 150px;
    display: block;
}

.navbar-container{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    gap: 237px;
}

.logo{
    background: url('../../assets/shared/logo.svg') no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
}

.second-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.second-container-text{
    width: auto;
    display: flex;
    align-items: center;
}

.text-container{
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    width: 450px;
    height: 382px;
}

.text-container h2{
    font-size: 28px;
    color: #D0D6F9;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
}

.text-container h2 span{
    font-size: 150px;
    color: white;
    font-weight: 500;
    font-family: "Bellefair", serif;
}

.text-container p{
    font-size: 18px;
    color: #D0D6F9;
    line-height: 32px;
}

.second-container-button{
    width: auto;
}

.button-hover{
    width: 450px;
    height: 450px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-hover:hover{
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(.5px);
}

.button-hover button{
    width: 274px;
    height: 274px;
    border-radius: 100%;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px)and (max-width: 1440px) {
    
    .navbar-container hr{
       display: none;
    }

    .container{
        background: url('../../assets/home/background-home-tablet.jpg') no-repeat;
        background-size: contain;
        gap: 106px;
    }

    .second-container{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .text-container h2{
        font-size: 20px;
    }
    
    .text-container h2 span{
        font-size: 150px;
    }
    
    .text-container p{
        font-size: 16px;
        line-height: 28px;
    }
    
    .button-hover{
        width: 420px;
        height: 420px;
    }
    
    .button-hover button{
        width: 242px;
        height: 242px;
    }

}

@media (min-width: 375px) and (max-width: 768px){

    .container{
        width: 100vw;
        height: 100vh;
        background: url('../../assets/home/background-home-mobile.jpg') no-repeat;
        gap: 81px;
    }
    
    .navbar-container hr{
        display: none;
    }
    
    .logo{
        width: 40px;
        height: 40px;
    }
    
    .second-container{
        flex-direction: column;
        justify-content: space-evenly;
        width: 100vw;
    }
    
    .second-container-text{
        width: 327px;
        text-align: center;
        align-items: center;
    }
    
    .text-container{
        display: flex;
        flex-direction: column;
        text-wrap: wrap;
        width: 327px;
        height: 276px;
    }
    
    .text-container h2{
        font-size: 28px;
        color: #D0D6F9;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 100;
    }
    
    .text-container h2 span{
        font-size: 80px;
    }
    
    .text-container p{
        font-size: 15px;
        line-height: 25px;
    }
    
    .button-hover{
        width: 150px;
        height: 150px;
    }
    
    .button-hover button{
        width: 150px;
        height: 150px;
        font-size: 20px;
        letter-spacing: 1.25px;
    }
}