@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {
    box-sizing: border-box;
}

.page-crew-container {
    width: 100vw;
    height: 100vh;
    background: url('../../../src/assets/crew/background-crew-desktop.jpg') no-repeat;
    background-size: cover;
    font-family: "Bellefair", serif;
}

.img {
    background: url('../../assets/crew/image-douglas-hurley.png') no-repeat;
    width: 568px;
    height: 690px;
    display: block;
}

.img1 {
    background: url('../../assets/crew/image-mark-shuttleworth.png') no-repeat;
    width: 568px;
    height: 690px;
}

.img2 {
    background: url('../../assets/crew/image-victor-glover.png') no-repeat;
    width: 568px;
    height: 690px;
}

.img3 {
    background: url('../../assets/crew/image-anousheh-ansari.png') no-repeat;
    width: 568px;
    height: 690px;
}

.noneImg {
    display: none;
}

.crew-page {
    display: flex;
}

.text-crew {
    width: 50vw;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 165px;
}

.text-crew h3 {
    font-size: 32px;
    color: gray;
    font-weight: 100;
    letter-spacing: 1px;
    padding-bottom: 15px;
    padding-left: 1.5px;
}

.text-crew h2 {
    font-size: 76px;
    color: white;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 27px;
    padding-left: 1.5px;
}

.text-crew p {
    font-family: "Barlow Condensed", sans-serif;
    color: #D0D6F9;
    font-size: 18px;
    letter-spacing: 1px;
}

.text-paragraph {
    width: 444px;
    line-height: 32px;
    padding-bottom: 120px;
}

.imgs-carousel {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.crew-page {
    display: flex;
    gap: 80px;
}

.container-btn {
    width: 132px;
    height: 15px;
    display: flex;
    gap: 24px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: none;
    background-color: #979797;
    cursor: pointer;
}

.circle:hover {
    background-color: #979797a1;
}

.selected-circle {
    background-color: white;
}

.hr-img {
    display: none;
}

@media (min-width: 768px)and (max-width: 1440px) {

    .page-crew-container {
        background: url('../../../src/assets/crew/background-crew-tablet.jpg') no-repeat;
        font-family: "Bellefair", serif;
    }

    .img {
        background-size: contain;
        width: 420px;
        height: 560px;
    }

    .img1 {
        background-size: contain;
        width: 456px;
        height: 535px;
    }

    .img2 {
        background-size: contain;
        width: 456px;
        height: 535px;
    }

    .img3 {
        background-size: contain;
        width: 456px;
        height: 535px;
    }

    .crew-page {
        display: flex;
        flex-direction: column;
    }

    .text-crew {
        width: 100vw;
        padding-top: 60px;
        text-align: center;
        flex-direction: column;
        padding-left: 0px;
    }

    .text-crew h3 {
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 1px;
        padding-bottom: 8px;
        padding-left: 0px;
    }

    .text-crew h2 {
        font-size: 40px;
        letter-spacing: 1px;
        font-weight: 200;
        padding-bottom: 16px;
        padding-left: 0px;
    }

    .text-crew p {
        font-family: "Barlow", sans-serif;
        color: #D0D6F9;
        font-size: 16px;
        letter-spacing: 0px;
        width: 100vw;
        padding: 0px 155px;
    }

    .text-paragraph {
        width: 458px;
        line-height: 28px;
        padding-bottom: 40px;
    }

    .imgs-carousel {
        justify-content: center;
        width: 100vw;
    }

    .crew-page {
        display: flex;
        gap: 0px;
    }

    .container-btn {
        width: 100vw;
        height: 15px;
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .circle {
        width: 10px;
        height: 10px;
    }

    .hr-img {
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 768px) {

    .page-crew-container {
        height: 710px;
        background: url('../../../src/assets/crew/background-crew-mobile.jpg') no-repeat;
        background-size: cover;
    }

    .tittle {
        padding-bottom: 32px;
        text-align: center;
    }

    .img {
        background: url('../../assets/crew/image-douglas-hurley.webp') no-repeat;
        width: 177.2px;
        height: 222px;
        background-size: cover;
    }

    .img1 {
        background: url('../../assets/crew/image-mark-shuttleworth.png') no-repeat;
        background-size: cover;
        width: 153.92px;
        height: 222px;
    }

    .img2 {
        background: url('../../assets/crew/image-victor-glover.png') no-repeat;
        background-size: cover;
        width: 180.73px;
        height: 222px;
    }

    .img3 {
        background: url('../../assets/crew/image-anousheh-ansari.png') no-repeat;
        background-size: cover;
        width: 226.15px;
        height: 222px;
    }

    .crew-page {
        display: flex;
        flex-direction: column-reverse;
    }

    .text-crew {
        width: 100vw;
        padding-top: 32px;
        text-align: center;
        padding-left: 0px;
        flex-direction: column-reverse;
    }

    .text-crew h3 {
        font-size: 16px;
        letter-spacing: 0px;
        padding-bottom: 8px;
        padding-left: 0px;
    }

    .text-crew h2 {
        font-size: 24px;
        color: white;
        letter-spacing: 0px;
        padding-bottom: 16px;
        padding-left: 0px;
    }

    .text-crew p {
        font-size: 15px;
        letter-spacing: 0px;
    }

    .text-paragraph {
        width: 100vw;
        padding: 0px 24px;
        height: 100px;
        line-height: 25px;
        padding-bottom: 0px;
    }

    .imgs-carousel {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hr-img {
        width: 327px;
        border: 1px solid #97979715;
        display: block;
    }

    .crew-page {
        display: flex;
        gap: 32px;
    }

    .container-btn {
        width: 100vw;
        height: 10px;
        display: flex;
        justify-content: center;
        gap: 16px;
        padding-bottom: 32px;
    }

    .circle {
        width: 10px;
        height: 10px;
    }

}