.navbar{
    width: 830px;
    /* height: 96px; */
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(.5px);
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.navbar-container{
    width: 1385px;
    height: 100px;
    align-items: center;
    padding-top: 40px;
    padding-left: 55px;
}

.navbar a{
    display: flex;
    align-items: center;
    height: 96px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    user-select: none;
}

.navbar a:hover{
    text-decoration: underline 3px;
    text-underline-offset: 42px;
    text-decoration-color: #979797;
}

.number{
    font-weight: 700;
}

.selected{
    text-decoration: underline 3px;
    text-underline-offset: 42px;
}

.not-selected{
    text-decoration: none;
}

.container-x{
    display: none;
}

.menu-img{
    display: none;
}

@media (min-width: 768px)and (max-width: 1440px){

    .navbar{
        width: 450px;
        height: 96px;
        display: flex;
        gap: 37px;
    }
    
    .navbar-container{
        height: 96px;
        padding-top: 0px;
    }
    
    .navbar a{
        font-size: 14px;
        letter-spacing: 2.36px;
    }

    .navbar a:hover{
        text-decoration:none;
    }
    
    .number{
        display: none;
    }
    
    .selected{
        text-decoration: underline 3px;
        text-underline-offset: 37px;
    }

    .selected{
        text-decoration: none;
    }
    
    .not-selected{
        text-decoration: none;
    }
    
}

@media (min-width: 375px)and (max-width: 768px){
    
    .navbar{
        width: 254px;
        height: 1210px;
        position: absolute;
        right: 0px;
        background-color: #9797971f;
        backdrop-filter: blur(10px);
        flex-direction: column;
        gap: 32px;
        align-items: start;
        z-index: 99;
        padding-top: 33.95px;
        padding-left: 32px;
    }
    
    .hide{
        display: none;
    }

    .navbar-container{
        padding-top: 24px;
    }
    
    .navbar a{
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .selected{
        text-decoration: none;
    }    
    
    .img-x{
        background: url('../../../assets/shared/icon-close.svg') no-repeat;
        width: 30px;
        height: 30px;
        border: none;
    }

    .menu-img{
        background: url('../../../assets/shared/icon-hamburger.svg') no-repeat;
        width: 24px;
        height: 21px;
        border: none;
        display: flex;
    }

    .container-x{
        width: 100%;
        height: 300px;
        padding-top: 220px;
        padding-right: 10px;
        display: flex;
        justify-content: end;
    }

    .navbar a:hover{
        text-decoration: none;
    }

}