.navbar{
    width: 830px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(.5px);
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.navbar-container{
    width: 1385px;
    height: 100px;
    align-items: center;
    padding-top: 40px;
    padding-left: 55px;
}

.navbar a{
    color: white;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
}

.navbar a:hover{
    text-decoration: underline 3px;
    text-underline-offset: 42px;
    text-decoration-color: #979797;
}

.number{
    font-weight: 700;
}

.selected{
    text-decoration: underline 3px;
    text-underline-offset: 42px;
}

.not-selected{
    text-decoration: none;
}

@media (min-width: 768px)and (max-width: 1440px){

    .navbar{
        width: 450px;
        height: 96px;
        display: flex;
        gap: 37px;
    }
    
    .navbar-container{
        height: 96px;
        padding-top: 0px;
    }
    
    .navbar a{
        font-size: 14px;
        letter-spacing: 2.36px;
    }
    
    .number{
        display: none;
    }
    
    .selected{
        text-decoration: underline 3px;
        text-underline-offset: 37px;
    }
}